# Ignore build output directories
build/
bin/
bin-int/
.vs/
ext/MDL/
old/
VortexOptix/x64/
nsightProfile/

# Ignore object files and libraries
*.o
*.a
*.lib
*.dll
*.so
*.dylib
*.ii
*.ii.res
*.ptx

# Ignore generated project files
*.sln
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*.xcworkspace
*.make
*.mk
*.vcxproj.user
Vortex.sln.nvsettings
*.user
VortexOptix/Vortex.lua
*.DotSettings

data/*.*
data/*
