# Ignore build output directories
build/
bin/
bin-int/
.vs/
ext/MDL/
old/

# Ignore object files and libraries
*.o
*.a
*.lib
*.dll
*.so
*.dylib
*.ii
*.ii.res

# Ignore generated project files
*.sln
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*.xcworkspace
*.make
*.mk
*.vcxproj.user
Vortex.sln.nvsettings
*.user
VortexOptix/Vortex.lua
*.DotSettings

VortexOptix/src/data/morning07_EXR.exr
VortexOptix/src/data/studio_small_03_1k.hdr
VortexOptix/src/data/16x16-in-1024x1024.png
VortexOptix/src/data/sunset_in_the_chalk_quarry_1k.hdr
VortexOptix/src/data/sunset03_EXR.exr
