# Ignore build output directories
build/
bin/
bin-int/
.vs/
ext/MDL/
old/
nsightProfile/
data/*.*
data/*
Vortex/x64/*
ext/vcpkg
scripts/__pycache__

# Ignore object files and libraries
*.o
*.a
*.lib
*.dll
*.so
*.dylib
*.ii
*.ii.res
*.ptx

# Ignore generated project files
*.sln
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*.xcworkspace
*.make
*.mk
*.vcxproj.user
Vortex.sln.nvsettings
*.user
VortexOptix/Vortex.lua
*.DotSettings
Vortex/x64/Debug/NoiseKernel.cu.obj
Vortex/x64/Release/NoiseKernel.cu.obj
installationLog.txt
scripts/vortex_38018.ico
